<!-- Open Graph -->
<meta property="og:title" content="{{ config.shortTitle }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.url }}">
<meta property="og:description" content="{{ config.description }}">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{ config.url + config.images }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
