<script type="application/ld+json">
{% minifyjson %}
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ config.author.name }}",
  "url": "{{ config.url }}",
  "sameAs": [
    "{{ config.author.social.twitter }}",
    "{{ config.author.social.facebook }}",
    "{{ config.author.social.instagram }}"
  ]
}
{% endminifyjson %}

</script>
