<!-- Scripts -->
{% block scripts %}
<script>
"serviceWorker"in navigator&&window.addEventListener("load",function(){navigator.serviceWorker.register("/sw.js").then(function(e){console.log("Well done, we supported offline!")})["catch"](function(e){console.warn("Oh no, we can't offline!",e)})})
</script>
{% if mode == "production" %}
<script async defer src="/{{ jsNameProd }}"></script>
{% else %}
<script async defer src="/{{ jsNameDev }}"></script>
{% endif %}
{% endblock %}
