<!-- Google Fonts -->
<link rel="stylesheet" href="{{ config.cdn.font }}">
<!-- Material Design Icons (mdi) -->
<link rel="stylesheet" href="/assets/css/{{ config.fileName.mdi }}.css">
<!-- Style -->
{% if mode == "production" %}
<link rel="stylesheet" href="/assets/css/{{ cssNameProd }}">
{% else %}
<link rel="stylesheet" href="/assets/css/{{ cssNameDev }}">
{% endif %}
